body {
  padding: 5px;
  font-family: 'Ubuntu', sans-serif!important;
}

.phone-viewport {
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  background: rgba(#000, .06);
  z-index: 1;

  .md-bottom-bar.md-type-fixed .md-bottom-bar-item {
    min-width: 70px
  }
}

.date .md-input {
  width: 45%;
}

.md-card {
  margin-bottom: 10px;

  .md-card-header {
    text-align: center;
  }

  .apexcharts-canvas {
    margin: auto;
  }
}
