body {
  padding: 5px;
  font-family: 'Ubuntu', sans-serif;
}

.phone-viewport {
    width: 100%;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    background: rgba(#000, .06);
}

.md-card {
    .md-card-header {
      text-align: center;
    }

    .apexcharts-canvas {
      margin: auto;
    }
  }